.blurb {
  display: none;
  background-color: var(--color-white);

  @media @tablet {
    position: relative;
    display: block;
    margin-top: -74px;
    padding: 96px 22px 122px 330px;

    &::before {
      content: "";
      position: absolute;
      top: 54px;
      left: 20px;
      display: block;
      width: 238px;
      height: 276px;
      background-image: url("../img/index/timer.svg");
    }
  }

  @media @desktop {
    display: block;
    margin-top: 0;
    padding: 0;
    background-color: var(--color-gray-light);
  }
}

.blurb__container {
  @media @desktop {
    position: relative;
    box-sizing: border-box;
    padding: 160px 40px 111px 370px;

    &::before {
      content: "";
      position: absolute;
      top: 68px;
      left: 1px;
      display: block;
      width: 298px;
      height: 345px;
      background-image: url("../img/index/timer-big.svg");
    }
  }
}

.blurb__heading {
  margin: 0 0 10px;
  padding-right: 11px;
  font-size: 30px;
  line-height: 36px;


  @media @desktop {
    margin: 0 0 22px;
  }
}

.blurb__text {
  margin: 0 0 10px;
  line-height: 24px;
  color: var(--color-dark-blue);

  @media @desktop {
    margin: 0 0 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.blurb__link {
  line-height: 24px;
  color: var(--color-pink);

  @media @desktop {
    font-size: 18px;
    line-height: 30px;
  }
}
