// .data {
//   padding-top: 24px;
// }


.data-heading {
  min-height: 96px;
  margin: 0;
  padding: 30px 20px 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--color-white);
}

.data__text {
  display: block;
  margin: 0;
  padding: 44px 20px 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--color-dark-blue);

  &--catalog {
    margin-bottom: 31px;
  }
}
