.page-header {
  background-color: var(--color-dark-blue);
  background-image: url("../img/index/back-mobile-background.jpg");
  background-repeat: no-repeat;
  background-position-y: 255px;
  background-size: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/back-mobile-background@2x.jpg");
    background-size: 100% auto;
  }

  @media @tablet-desktop {
    z-index: 1;
    background-image: url("../img/index/back-tablet-background.jpg");
    background-position-x: center;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/back-tablet-background@2x.jpg");
      background-size: 100% auto;
    }
  }

  @media @desktop {
    background-image: url("../img/index/back-desktop-background.jpg");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/back-desktop-background@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.page-header__logo {
  @media @desktop {
    margin-right: 50px;
  }
}


.page-header--js {
  @media @mobile-tablet {
    background-position-y: 0;
  }

  .page-header__nav {
    @media @mobile-tablet {
      display: none;
    }
  }

  .header-bottom__image {
    @media @tablet {
      top: 184px;
      right: 0;
    }
  }

  .page-header__wrapper {
    background-color: var(--color-black-30);
  }

  .nav-button {
    @media @mobile-tablet {
      display: block;
    }
  }
}

.page-header--opened {
  @media @mobile-tablet {
    background-position-y: 0;
  }

  .page-header__nav {
    @media @mobile-tablet {
      position: absolute;
      top: 64px;
      left: 0;
      display: block;
      width: 100%;
    }

    @media @tablet {
      top: 110px;
    }
  }

  .header-bottom__image {
    @media @tablet {
      top: 184px;
      right: 0;
    }
  }

  .page-header__wrapper {
    @media @mobile-tablet {
      background-color: var(--color-dark-blue);
    }
  }

  .nav-button {
    @media @mobile-tablet {
      display: block;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 27px;
        mask-image: url("../img/index/close.svg");
        width: 23px;
        height: 23px;
      }
    }
  }
}
