.page-footer__socials {
  display: flex;
  margin: 0 0 28px;
  padding: 0;
  list-style: none;

  @media @tablet-desktop {
    justify-content: center;
    margin: 0;
  }
}

.page-footer__logo-dev {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-dark-blue);
  text-decoration: none;

  @media @tablet-desktop {
    justify-content: flex-end;
    padding: 0 18px 8px;
  }

  @media @tablet {
    padding: 0 18px 3px;
  }

  @media @desktop {
    padding: 0 0 13px;
    font-size: 18px;
  }
}

.page-footer__logo {
  margin-bottom: 40px;

  @media @tablet-desktop {
    margin: 0;
  }

  @media @tablet {
    padding: 0 20px 13px;
  }

  @media @desktop {
    margin-top: -29px;
    padding: 0 2px 0;
  }
}


.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 37px 0;
  }

  @media @desktop {
    padding: 53px 0 38px;
  }
}
