.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 20px 0;

  @media @tablet-desktop {
    padding: 0;
  }
}

.page-main__reviews {
  position: relative;
  margin: -74px 0 0;
  padding: 0;
  background-color: var(--color-white);

  @media @tablet {
    margin: 0;
  }

  @media @desktop {
    margin: 0;
  }
}
