<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Пинк &gt; {{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="page">
    <header class="page-header page__header">
      <div class="header-wrapper">
        <a class="logo page-header__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
          <img class="logo__image" src="img/logo-pink.svg" alt="Логотип Pink">
        </a>
        <button class="nav-button" type="button">
          <span class="visually-hidden">Меню</span>
        </button>
      </div>
      <nav class="nav page-header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link {{ 'nav__link--current' if page == 'index' }}" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
              Главная
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link {{ 'nav__link--current' if page == 'catalog' }}" href="catalog.html" {{ 'aria-current="page"' if page == 'catalog' }}>
              Фотографии
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link {{ 'nav__link--current' if page == 'form' }}" href="form.html" {{ 'aria-current="page"' if page == 'form' }}>
              Конкурс
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="https://htmlacademy.ru">
              HTML Academy
            </a>
          </li>
        </ul>
      </nav>
      {% block header %}
        <p class="header-bottom">
          <b class="header-bottom__text">
          Взгляните на жизнь <br> иначе!
        </b>
          <picture class="header-bottom-picture">
            <img class="header-bottom-image" src="img/index/promo-app.png" alt="Фотография работа приложения">
          </picture>
        </p>
      {% endblock %}
    </header>

    <main class="page-main page__main">
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer page__footer">
      <a class="logo page-footer__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img class="logo__image logo__image--footer" src="../img/svg-icon/footer-logo.svg" alt="Логотип Pink.">
      </a>

      <ul class="socials page-footer__socials">
        <li class="socials__item">
          <a class="socials__link socials__link--vkontakte" href="#!">
            <span class="visually-hidden">Vkontakte.</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--telegram" href="#!">
            <span class="visually-hidden">Telegram.</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--youtube" href="#!">
            <span class="visually-hidden">Youtube.</span>
          </a>
        </li>
      </ul>

      <a class="logo-dev page-footer__logo-dev" href="https://htmlacademy.ru/intensive/adaptive">
        <span class="page-footer-text">
          Разработано
        </span>
        <img class="logo-dev__image" src="../img/svg-icon/html-academy.svg" width="27" height="34" alt="HTML Academy.">
      </a>
    </footer>

    <script>
      window.pinegladePP = {
        breakpoints: [320, 660, 1200]
      };
    </script>
    <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js"></script>

  </body>
</html>
