{% extends "_layout.njk" %}

{% set title = 'Главная' %}

{% block main %}
  <section class="offer">
    <h2 class="visually-hidden">
      Раздел с преимуществами приложения.
    </h2>
    <p class="offer__motto">
      <b class="offer__motto-text offer__motto-text">
        Устали от серости мегаполиса?
      </b>
      <b class="offer__motto-text offer__motto-text--down">
        Нам есть, что вам<br>предложить!
      </b>
    </p>
    <div class="offer__wrapper">
      <div class="container">
        <ul class="offer__list">
          <li class="offer__item">
            <h3 class="offer__title">
            Поднимает настроение
          </h3>
            <p class="offer__text">
            Приложение позволит вам победить осеннюю хандру
            и депрессию буквально в несколько кликов!
          </p>
            <picture class="offer__picture">
              <source media="(min-width:980px)" srcset="img/index/feauters-1.png">
              <source media="(min-width:660px)" srcset="img/index/offer-tablet.png">
              <img class="offer__image" src="img/index/hello-app.png" alt="Пример работы приложения.">
            </picture>
          </li>
          <li class="offer__item">
            <h3 class="offer__title">
            Меняет мир вокруг
          </h3>
            <p class="offer__text">
            Сделайте снимок и украсьте&nbsp;его смайликом
            или&nbsp;текстовой подписью, чтобы усилить&nbsp;эффект
          </p>
            <picture class="offer__picture">
              <source media="(min-width:980px)" srcset="img/index/feauters-2.png">
              <source media="(min-width:660px)" srcset="img/index/offer-tablet.png">
              <img class="offer__image" src="img/index/hello-app.png" alt="Пример работы приложения.">
            </picture>
          </li>
          <li class="offer__item">
            <h3 class="offer__title">
            Заводит новых друзей
          </h3>
            <p class="offer__text">
            Ставьте лайки, комментируйте,
            делитесь фотографиями с друзьями и&nbsp;заводите новых
          </p>
            <picture class="offer__picture">
              <source media="(min-width:980px)" srcset="img/index/feauters-3.png">
              <source media="(min-width:660px)" srcset="img/index/offer-tablet.png">
              <img class="offer__image offer__image-mobile" src="img/index/hello-app.png" alt="Пример работы приложения.">
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="blurb">
      <div class="container  blurb__container">
        <h3 class="blurb__heading">
          <strong>
            Эффект на&nbsp;24&nbsp;часа!
          </strong>
        </h3>
        <p class="blurb__text">
          Британские ученые провели исследования и доказали,
          что&nbsp;положительный эффект от&nbsp;использования приложения длится целые сутки!
        </p>
        <a class="blurb__link" href="#!">Узнать больше об исследовании</a>
      </div>
    </div>
  </section>
  <section class="reviews page-main__reviews">
    <div class="container reviews__container">
      <h2 class="visually-hidden">Отзывы о работе приложения.</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <blockquote class="reviews__blockqoute">
            <cite class="reviews__author">
              <span class="reviews__author-name">Николай Петров</span>
              <span class="reviews__author-note">25 лет, водитель трамвая</span>
            </cite>
            <p class="reviews__text">
              «Это приложение перевернуло мой мир и позволило по-новому взглянуть на
              привычные серые вещи! А еще я познакомился со своей будущей женой в
              комментариях к выложенной фотографии!»
            </p>
          </blockquote>
        </li>
      </ul>
      <p class="slider-buttons">
        <button class="slider-buttons__button slider-buttons__button--prev" type="button" aria-label="Предидущий слайд."></button>
        <button class="slider-buttons__button slider-buttons__button--next" type="button" aria-label="Следующий слайд."></button>
      </p>
      <ul class="switch-buttons reviews__switch-buttons">
        <li class="switch-buttons__item">
          <button class="switch-buttons__button switch-buttons__button--active" type="button" aria-label="К отзыву 1"></button>
        </li>
        <li class="switch-buttons__item">
          <button class="switch-buttons__button" type="button" aria-label="К отзыву 2"></button>
        </li>
        <li class="switch-buttons__item">
          <button class="switch-buttons__button" type="button" aria-label="К отзыву 3"></button>
        </li>
      </ul>
    </div>
  </section>

  <section class="tariffs">
    <div class="tariffs-wrapper">
      <h2 class="visually-hidden">Тарифы.</h2>
      {# Временно отключу демонстрацию для JS разработчика #}
      {# style="transform: translateX(-404px);" #}
      <table class="tariffs__table">
        <thead class="tariffs__table-head">
          <tr class="tariffs__table-row">
            <th class="tariffs__head tariffs__head--hidden" scope="col">
              <span class="visually-hidden">
                Название тарифа.
              </span>
            </th>
            <th class="tariffs__head" scope="col">
              <p class="tariffs__tariff-name">
                База
              </p>
              <p class="tariffs__tariff-price">
                1,99 usd
              </p>
            </th>
            <th class="tariffs__head tariffs__head--central" scope="col">
              <span class="tariffs__hit">Хит</span>
              <p class="tariffs__tariff-name">
                Стандарт
              </p>
              <p class="tariffs__tariff-price">
                3,99 usd
              </p>
            </th>
            <th class="tariffs__head" scope="col">
              <p class="tariffs__tariff-name">
                Анлим
              </p>
              <p class="tariffs__tariff-price">
                9,99 usd
              </p>
            </th>
          </tr>
        </thead>
        <tbody class="tariffs__table-body">
          <tr class="tariffs__row">
            <th class="tariffs__cell tariffs__cell--head" scope="row">
              Розовый фильтр
            </th>
            <td class="tariffs__cell" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
          </tr>
          <tr class="tariffs__row">
            <th class="tariffs__cell tariffs__cell--head" scope="row">
              Смайлики
            </th>
            <td class="tariffs__cell" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
          </tr>
          <tr class="tariffs__row">
            <th class="tariffs__cell tariffs__cell--head" scope="row">
              Комментарии
            </th>
            <td class="tariffs__cell" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>
            <td class="tariffs__cell" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Да.
                </span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="switch-buttons tariffs__switch-buttons">
      <li class="switch-buttons__item">
        <button class="switch-buttons__button" type="button" aria-label="К тарифу 1"></button>
      </li>
      <li class="switch-buttons__item">
        <button class="switch-buttons__button switch-buttons__button--active" type="button" aria-label="К тарифу 2"></button>
      </li>
      <li class="switch-buttons__item">
        <button class="switch-buttons__button" type="button" aria-label="К тарифу 3"></button>
      </li>
    </ul>
  </section>

  <section class="contacts">
    <div class="container">
      <h2 class="visually-hidden">
        Контакты.
      </h2>
      <p class="contacts__feedback">
        Остались вопросы? <br> Свяжитесь с нами!
      </p>
      <ul class="contacts__list">
        <li class="contacts__item">
          <span class="contacts__choice">Звоните:</span>
          <a class="contacts__link" href="tel:+78125556666">
            +7 (812) 555-66-66
          </a>
        </li>
        <li class="contacts__item">
          <span class="contacts__choice">Пишите:</span>
          <a class="contacts__link" href="mailto:mail@htmlacademy.ru">
            mail@htmlacademy.ru
          </a>
        </li>
        <li class="contacts__item">
          <span class="contacts__choice">
            Приезжайте в гости:
          </span>
          <a href="#!" class="contacts__link">
            ул. Большая <br> Конюшенная, 19/8
          </a>
        </li>
      </ul>
    </div>
    <div class="maps"></div>
  </section>
{% endblock %}
